/BlazorSample007/Shared/obj/Debug
/BlazorSample007/Shared/obj
/BlazorSample007/Server/obj
/BlazorSample007/Server/bin
/BlazorSample007/Client/obj
/BlazorSample007/Client/bin
/BlazorSample007/Shared/bin/Debug/net5.0/ref/BlazorSample007.Shared.dll
/.vs
